extends layout

block content
		div.container
			div.row
				div.col-sm-6.col-md-18.col-md-offset-4
					#user
						h1.text-center.login-title Welcome #{user.username}
								
							a(href='/signout', class='text-center new-account') Sign Out
			div.row
				div.col-sm-6.col-md-18.col-md-offset-4
					h3.text-center.login-title  #{info}