extends layout

block content
		div.container
			div.row
				div.col-sm-6.col-md-18.col-md-offset-4
					#user
						h1.text-center.login-title Grading for #{username}
			div.row
				div.col-sm-6.col-md-18.col-md-offset-4
					h3.text-center.login-title  #{info}